@inherits RazorComponentBase


@if (PaymentItemCartVM is not null)
{

    <div class="row justify-content-between">
        <div class="@(PaymentItemCartVM.IsModifying ? "col-12" : "col-6") ">
            <label class="fw-bold"> Ürün İsmi: </label>
            <label class="fw-bold form-control"> @PaymentItemCartVM.Name </label>
        </div>
        @if (!PaymentItemCartVM.IsModifying)
        {

            <div class="col-6 ">
                <label class="fw-bold">Sepet Seçimi</label>
                <select class="form-control" @bind="@SelectedCart">
                    <option value="0">Yeni Sepet</option>
                    @{
                        short i = 1;
                    }
                    @foreach (var item in BasketTabVMs)
                    {
                        <option value="@i">Sepet @i</option>
                        @(i++)
                    }
                </select>
            </div>
        }


    </div>

    <div class="row mt-4">
        <div class="col-6">
            <label> Alış Fiyatı</label>
            <label class="form-control"> ₺@PaymentItemCartVM.PurchasePrice</label>
        </div>
        <div class="col-6">
            <label> Kar Oranı</label>
            <div class="d-flex form-control">
                %
                <input class="border-0 w-100" @bind-value="@PaymentItemCartVM.Profit" @bind-value:event="oninput" type="number" @onchange="@SetTotalPrice" />
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-6">
            <label>  Toplam Stok</label>
            <label class="form-control"> @PaymentItemCartVM.Stock</label>

        </div>
        <div class="col-6">
            <label> Satılacak Miktar</label>
            <input type="number" class="form-control" @bind-value="PaymentItemCartVM.QuantityInCart" @bind-value:event="oninput" @onchange="SetTotalPrice" />
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-6">
            <label> Kdv Oranı</label>
            <div class="d-flex form-control">
                %
                <input class="border-0 w-100" @bind-value="@PaymentItemCartVM.Kdv" @bind-value:event="oninput" @onchange="@SetTotalPrice" type="number" />
            </div>
        </div>
        <div class="col-6">
            <label> Miktar Fiyat</label>
            <div class="form-control d-flex">
                ₺
                <input type="number" class="border-0 w-100" @onchange="PriceChange" @bind-value:event="oninput" @bind-value="@PaymentItemCartVM.SalePrice" />
            </div>

        </div>
    </div>
    <hr class="" />
    <div class="row mt-4">
        <div class="col-12">
            <label> Toplam Fiyat</label>
            <div class="d-flex form-control">
                ₺
                <input class="border-0 w-100" @bind-value="@PaymentItemCartVM.TotalPrice" type="number" />
            </div>
        </div>


    </div>


    <div class="d-flex flex-row-reverse mt-5">
        @if (!PaymentItemCartVM.IsModifying)
        {
            <button class="btn btn-outline-secondary w-25" @onclick="@(()=>InsertCart(SelectedCart))">
                <i class="fa-solid fa-cart-plus"></i>
                Sepete Ekle
            </button>
        }
        else
        {
            <button class="btn btn-outline-secondary w-25" @onclick="@(()=>UpdateCart())">
                <i class="fa-solid fa-cart-plus"></i>
                Güncelle
            </button>
        }
    </div>

}

