@inherits RazorComponentBase





@if (InvoiceHistories is not null && InvoiceHistories.Count > 1)
{


    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Fatura Numarası</th>
                <th>Tarih</th>
                <th>Müşteri İsim</th>
                <th>Şirket</th>
                <th>Toplam Ödeme</th>
                <th>Fatura</th>
                <th>Ürünler</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in InvoiceHistories)
            {
                <tr>
                    <td>@item.InvoiceNumber</td>
                    <td>@item.InvoiceDate.ToShortDateString()</td>
                    <td>@item.CustomerFullName</td>
                    <td>@item.CompanyName</td>
                    <td>₺ @item.TotalPayment </td>
                    <td class="text-center">
                        <button class="btn btn-outline-secondary width-75">
                            <i class="fa-solid fa-file-invoice"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-outline-success width-75" @onclick="@(()=>FetchProducts(item.InvoiceId))">
                            <i class="fa-solid fa-boxes-stacked"></i>
                        </button>
                    </td>
                </tr>
                @if (item.IsProductListActive)
                {
                    <tr>
                        <td colspan="7">
                            <table class="table table-bordered table-info">
                                <thead>
                                    <tr>
                                        <th>Ürün Adı</th>
                                        <th>Adet</th>
                                        <th>Fiyat</th>
                                        <th>Toplam</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>test</td>
                                        <td>test</td>
                                        <td>test</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

