@inherits RazorComponentBase
<div class="row justify-content-center mt-4">
    <div class="col-11 card">
        <div class="card-body">
            <div class="d-flex flex-md-wrap flex-sm-wrap flex-wrap">
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <p>
                        Şirket Bilgileri
                    </p>
                    <input @bind="@Model.Name" maxlength="100" placeholder="Şirket İsmi:" type="text" class="form-control" />
                    <input @bind="@Model.PhoneNumber" maxlength="100" placeholder="Cep Telefon Numarası:" type="text" class="form-control mt-2" />
                    <input @bind="@Model.Number" maxlength="100" placeholder="Telefon Numarası:" type="text" class="form-control mt-2" />
                    <input @bind="@Model.Email" maxlength="100" placeholder="Email:" type="text" class="form-control mt-2" />
                </div>
                <div class="col-lg-4  col-md-6 col-sm-12 col-12 mt-sm-0 mt-3">
                    <p>Şirket Adres</p>
                    <textarea @bind="@Model.Address" class="form-control" rows="7" placeholder="Şirket Adres">

                    </textarea>
                </div>
                <div class="col-lg-4  col-md-12 col-sm-12 col-12 mt-3 mt-md-0">
                    <p>
                        Şirket Açıklama
                    </p>
                    <textarea @bind="@Model.Description" rows="7" maxlength="200" class="form-control" placeholder="Şirket Açıklama">

                    </textarea>
                </div>

            </div>
            <div class="mt-lg-4 mt-md-4 col-md-12 col-lg-12 flex-lg-row-reverse mt-sm-4 mt-3 ">
                <div class="d-flex flex-lg-row-reverse">
                    <button class="btn btn-primary width-100 col-lg-4" @onclick="@Submit">
                        Kaydet
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


