@inherits RazorComponentBase
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion text-center " id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <div>
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-text mx-3"> Admin </div>
        </a>
    </div>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <li class="nav-item">
        <a class="nav-link @(IsActiveLink("/")) cursor-pointer" @onclick='()=>ActiveNavigator("/")'>
            <i class="fas fa-address-card"></i>
            <span> Ana Sayfa</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(IsActiveLink("/category")) cursor-pointer" @onclick='()=>ActiveNavigator("/category")'>
            <i class="fa-solid fa-k"></i>
            <span> Kategori</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(IsActiveLink("/product")) cursor-pointer" @onclick='()=>ActiveNavigator("/product")' >
            <i class="fa-solid fa-box"></i>
            <span> Ürün</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(IsActiveLink("/company")) cursor-pointer" @onclick='()=>ActiveNavigator("/company")'>
            <i class="fa-solid fa-building"></i>
            <span> Şirket</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(IsActiveLink("/customer")) cursor-pointer" @onclick='()=>ActiveNavigator("/customer")'>
            <i class="fa-regular fa-address-book"></i>
            <span> Müşteriler</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(IsActiveLink("/finance")) cursor-pointer" @onclick='()=>ActiveNavigator("/finance")'>
            <i class="fa-solid fa-chart-simple"></i>
            <span> Finans</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link @(IsActiveLink("/finance")) cursor-pointer" @onclick='()=>ActiveNavigator("/product")'>
            <i class="fa-solid fa-receipt"></i>
            <span> Faturalar</span>
        </a>
    </li>
   
 





</ul>
<!-- End of Sidebar -->