@inherits RazorComponentBase


<div class="row justify-content-center mt-4  @CartStatus @DisapperCssAnimation">
    <div class="col-11 card">
        <div class="d-flex justify-content-between mt-3">
            @if (BasketNo != 0)
            {
                <h5 class=" ml-1"> @BasketNo. Sepet </h5>
            }
            else
            {
                <h5>Sepet Detaylari</h5>
            }

            <div>
                <button class="btn btn-outline-secondary btn-sm" @onclick="MinimizeCart">
                    <i class="fa-solid fa-window-minimize"></i>
                </button>
                <button class="btn btn-outline-danger btn-sm" @onclick="RemoveCart">
                    <i class="fas fa-light fa-xmark"></i>
                </button>
            </div>
        </div>

        <div class="card-body row flex-sm-wrap flex-wrap">
            <div class="d-flex flex-row mb-2">
                <div class="width-15">
                    <button class="btn btn-outline-secondary w-100" @onclick="@GenerateReceipt">
                        <i class="fa-solid fa-file-invoice"></i>
                        Fatura
                    </button>
                </div>

                <div class="width-15 ml-2">
                    <button class="btn btn-outline-success w-100">
                        <i class="fa-solid fa-file-excel"></i>
                        Excel
                    </button>
                </div>
                <div class="width-5">
                </div>


            </div>
            <div class="point-of-sale col-12">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th class="width-20">Ürün Adı</th>
                            <th class="width-10">Adet</th>
                            <th class="width-15">Alışveriş Sonrası Stok</th>
                            <th class="width-15">Birim Satış Fiyatı</th>
                            <th class="width-15">Toplam Fiyatı</th>
                            <th class="width-25"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in BasketTabVM.BasketItems)
                        {

                            <tr>
                                <td>@item.Name</td>
                                <td>
                                    <label class="form-control">
                                        @item.QuantityInCart
                                    </label>
                                </td>
                                @{
                                    var remain = item.Stock - item.QuantityInCart;
                                    var quantityCss = QuantityAlert(remain);
                                    string quantityTextColor = "text-black";
                                    if (!string.IsNullOrEmpty(quantityCss))
                                        quantityTextColor = "text-white";
                                }
                                <td>
                                    <div class="position-relative form-control d-flex justify-content-center @quantityCss @quantityTextColor"
                                         data-toggle="tooltip" data-placement="top" title='@($"'{item.Name}' isimli ürünün alışveriş sonrası kalacak olan stok sayısı: {remain} ")'>

                                        @((MarkupString)(!string.IsNullOrEmpty(quantityCss) ? "<i class='fa-solid fa-triangle-exclamation position-absolute top-0 end-0 p-2'></i>" : ""))
                                        <label>@remain</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-control d-flex">
                                        <label> ₺@item.SalePrice </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-control d-flex">
                                        ₺<label class="border-0 w-100"> @item.TotalPrice </label>
                                    </div>

                                </td>
                                <td>
                                    <div class="d-flex">
                                        <button class="btn btn-outline-danger " @onclick="@(()=>RemoveProductFromCart(item))">
                                            <i class="fa-solid fa-basket-shopping"></i>
                                            Sepetten Kaldır
                                        </button>
                                        <button class="btn btn-outline-success ml-2 width-40" @onclick="@(()=>ProductDetail(item))">
                                            <i class="fa-solid fa-circle-info"></i>
                                            Düzenle
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <hr />
            <div class="col-12">
                <div class="row flex-row-reverse">
                    <div class="col-6">
                        <div class="d-flex flex-row form-group mt-2 border-1 p-2 rounded-2">
                            <p class="w-50">Toplam Fiyat</p>
                            <div class="d-flex flex-row-reverse form-control w-50 justify-content-between">
                                <label class="width-90 "> @BasketTabVM.TotalPrice </label>
                                <span class="my-auto shadow-sm border-1 px-2 width-10">₺</span>
                            </div>
                        </div>
                        <div class="d-flex flex-row form-group mt-2 border-1 p-2 rounded-2">
                            <p class="w-50">Toplam Ödenecek</p>
                            <div class="d-flex flex-row-reverse form-control w-50 justify-content-between">
                                <input type="number" class="border-0 width-90" @bind="@BasketTabVM.PaymentAmount" />
                                <span class="my-auto shadow-sm border-1 px-2 width-10">₺</span>
                            </div>
                        </div>
                        <div class="d-flex flex-row-reverse mt-3">
                            @if (!IsBasketFullScreen)
                            {
                                <button class="btn btn-outline-secondary ml-2" @onclick="MaximixeBasket">
                                    <i class="fa-solid fa-expand"></i>
                                    Tam Ekran
                                </button>
                            }

                            <button class="btn btn-outline-success" @onclick="SubmitBasket">
                                <i class="fa-solid fa-check"></i>
                                Sepeti Onayla
                            </button>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="d-flex flex-row form-group mt-2 border-1 p-2 rounded-2">
                            <p class="w-50">Toplam Vergi</p>
                            <div class="d-flex flex-row-reverse form-control w-50 justify-content-between">
                                <label class="width-90 ">  @BasketTabVM.TotalTax </label>
                                <span class="my-auto shadow-sm border-1 width-10 px-2">₺</span>
                            </div>
                        </div>
                        <div class="d-flex flex-row form-group mt-2 border-1 p-2 rounded-2">
                            <p class="w-50">Indirim</p>
                            <div class="d-flex flex-row-reverse form-control w-50 justify-content-between">
                                <input type="number" class="border-0 width-90" @bind-value="@BasketTabVM.TotalDiscount" @onchange="Discount" @bind-value:event="oninput" />
                                <span class="my-auto shadow-sm border-1 px-2 width-0">%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<style>
    .fade-out {
        opacity: 1;
        transition: opacity 1s ease-in-out; /* Transition opacity over 2 seconds */
    }
        /* State after applying the fade-out effect */
        .fade-out.hidden {
            opacity: 0;
        }
</style>