@inherits RazorComponentBase


<div class="row justify-content-center mt-4  @CartStatus">
    <div class="col-11 card">
        <div class="d-flex justify-content-between mt-3">
            <h5 class=" ml-1"> @BasketNo. Sepet </h5>

            <div>
                <button class="btn btn-outline-secondary btn-sm" @onclick="MinimizeCart">
                    <i class="fa-solid fa-window-minimize"></i>
                </button>
                <button class="btn btn-outline-danger btn-sm" @onclick="RemoveCart">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </div>
        </div>

        <div class="card-body row flex-sm-wrap flex-wrap">
            <div class="point-of-sale col-12">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th class="width-20">Ürün Adı</th>
                            <th class="width-10">Adet</th>
                            <th class="width-15">Alışveriş Sonrası Stok</th>
                            <th class="width-15">Birim Satış Fiyatı</th>
                            <th class="width-15">Toplam Fiyatı</th>
                            <th class="width-25"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in BasketTabVM.BasketItems)
                        {

                            <tr>
                                <td>@item.Name</td>
                                <td>@item.QuantityInCart</td>
                                @{
                                    var remain = item.Stock - item.QuantityInCart;
                                    var quantityCss = QuantityAlert(remain);
                                    string quantityTextColor = "text-black";
                                    if (!string.IsNullOrEmpty(quantityCss))
                                        quantityTextColor = "text-white";
                                }
                                <td class="@quantityCss">
                                    @if (!string.IsNullOrEmpty(quantityCss))
                                    {
                                        <div class="d-flex flex-row-reverse ">
                                            <i class="fa-solid fa-triangle-exclamation" style="color: #ffffff;"></i>
                                        </div>
                                    }
                                    <label class="form-control @quantityCss @quantityTextColor"> @remain</label>
                                </td>
                                <td>
                                    <div class="form-control d-flex">
                                        ₺<input type="number" class="border-0 w-100" @bind="@item.SalePrice" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-control d-flex">
                                        ₺<input type="number" class="border-0 w-100" @bind="@item.TotalPrice" />
                                    </div>

                                </td>
                                <td>
                                    <div class="d-flex">
                                        <button class="btn btn-outline-danger ">
                                            <i class="fa-solid fa-basket-shopping"></i>
                                            Sepetten Kaldır
                                        </button>
                                        <button class="btn btn-outline-success ml-2 width-40" @onclick="@(()=>ProductDetail(item))">
                                            <i class="fa-solid fa-circle-info"></i>
                                            Detay
                                        </button>

                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <hr />
            <div class="col-12">
                <div class="row flex-row-reverse">
                    <div class="col-6">
                        <div class="d-flex flex-row form-group mt-2 border-1 p-2 rounded-2">
                            <p class="w-50">Toplam Fiyat</p>
                            <div class="d-flex flex-row-reverse form-control w-50 justify-content-between">
                                <input type="number" class="w-75 border-0 width-90" @bind="@BasketTabVM.TotalPrice" />
                                <span class="my-auto shadow-sm border-1 px-2 width-10">₺</span>
                            </div>
                        </div>
                        <div class="d-flex flex-row form-group mt-2 border-1 p-2 rounded-2">
                            <p class="w-50">Toplam Ödenecek</p>
                            <div class="d-flex flex-row-reverse form-control w-50 justify-content-between">
                                <input type="number" class="w-75 border-0 width-90" @bind="@BasketTabVM.PaymentAmount" />
                                <span class="my-auto shadow-sm border-1 px-2 width-10">₺</span>
                            </div>
                        </div>
                        <div class="d-flex flex-row-reverse mt-3">
                            <button class="btn btn-outline-secondary">
                                Sepeti Onayla
                            </button>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="d-flex flex-row form-group mt-2 border-1 p-2 rounded-2">
                            <p class="w-50">Toplam Vergi</p>
                            <div class="d-flex flex-row-reverse form-control w-50 justify-content-between">
                                <input type="number" class="width-90 border-0" @bind="@BasketTabVM.TotalTax"  />
                                <span class="my-auto shadow-sm border-1 width-10 px-2">₺</span>
                            </div>
                        </div>
                        <div class="d-flex flex-row form-group mt-2 border-1 p-2 rounded-2">
                            <p class="w-50">Indirim</p>
                            <div class="d-flex flex-row-reverse form-control w-50 justify-content-between">
                                <input type="number" class="border-0 width-90" @bind="@BasketTabVM.TotalDiscount" />
                                <span class="my-auto shadow-sm border-1 px-2 width-0">%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

