@inherits RazorComponentBase




<div class="row justify-content-center mt-4 ">
    <div class="col-11 card">
        <div class="card-body">
            <div class="d-flex flex-lg-wrap flex-md-wrap flex-wrap flex-sm-wrap">
                <div class="col-lg-4 col-md-6 mt-md-3 col-sm-12 ">
                    <p>
                        Ürün İsmi
                    </p>
                    <input @bind="@Model.Name" placeholder="Ürün İsmi" type="text" class="form-control" />
                </div>
                <div class="col-lg-4 col-md-6 mt-md-3 col-sm-12">
                    <p>
                        Barkod
                    </p>
                    <input @bind="@Model.Barcode" type="text" class="form-control" />
                </div>
                <div class="col-lg-4 col-md-6 mt-md-3 col-sm-12">
                    <p>
                        Kategori
                    </p>
                    <select @bind="@Model.Category" class="form-control">
                        <option>--Lütfen Kategori Seçiniz--</option>
                        @if (Categories != null)
                        {
                            @foreach (var item in Categories)
                            {
                                <option value="@item.ID">@item.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-3 col-sm-12">
                    <p>
                        Görsel
                    </p>
                    <input id="file-product" type="file" multiple class="form-control" accept=".jpg,.png,.gif," />
                </div>

                <div class="col-lg-4 col-md-6 mt-md-3 col-sm-12">
                    <p>
                        Şirket
                    </p>
                    <select @bind="@Model.Company" class="form-control text-center">
                        <option>--Seçiniz--</option>
                        @if (Companies is not null)
                        {
                            @foreach (var item in Companies)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-3 col-sm-12">
                    <p>
                        Açıklama
                    </p>
                    <textarea @bind="@Model.Description" class="form-control" />
                </div>
                <div class="col-lg-4 col-md-12 mt-md-3">
                    <div class="d-flex">
                        <p>Son Kullanma Tarihi</p>
                        <div class="d-flex flex-column-reverse justify-content-end ml-3">
                            <div>
                                <input type="checkbox" @onclick="()=>{ HasBestUsageDate = !HasBestUsageDate;
                                Model.BestBeforeDate = DateTime.Now;
                                }" class="form-check" />
                            </div>
                        </div>
                    </div>
                    
                    @if (HasBestUsageDate)
                    {
                        <input @bind="@Model.BestBeforeDate" type="date" class="form-control" />
                    }

                </div>
            </div>
        </div>
        <div class="d-flex flex-row-reverse mt-lg-5 mb-lg-5 mb-md-5 ">
            <div class="col-lg-4 text-center">
                <button @onclick="Submit" class="btn btn-outline-primary width-100">
                    Kaydet
                </button>
            </div>

        </div>
    </div>
</div>




@* <div class="width-20 text-center">
                    <button @onclick="()=>{ IsImageGalleryActive = !IsImageGalleryActive; }" class="btn btn-outline-secondary width-75">
                        Resim Galerisini Aktif Et
                    </button>
                </div> *@